<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>You have edited your information, <%= @student.name %>! </h1>
      
      <p>
         You have made a few edits to your information. Please confirm that you made these changes. <br>
      </p>
      
      <p>
         Visit General Assembly's website at  
         <%= @url %>.
      </p>
      
      <p>Thank you for being a part of the GA family. </p>
      
   </body>
</html>