/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-image: url('/gears.jpg');
}

a{
  color: rgba(240, 72, 72, 0.75);
  font-size: 18px;
}



.navbar-header:active {     
  background: red;
}

div.container.marketing {
  background: rgba(0,0,0,0.25);
}

div.col-lg-4{
  background: black;
  max-height: 280px;
}

h1{
  font-family: Mesquite;
  font-weight: bold;
  background: rgba(0,0,0,1);
  padding: 5px;
}

h2{
  font-family: Mesquite;
  text-decoration: underline;
}

p.lead{
  color: black;
}

.carousel-caption > p{
  color: white;
  background: rgba(0,0,0,1);
  padding: 10px;
}

#loginform, #registerform, #new-ao, #iq, #aoq{
  border: 3px dotted black;
  width: 550px;
  padding-left: 180px;
  position: relative;
  left: 350px;
  background: rgba(0,0,45,0.25);
}

.input-name, .input-email, .input-password, .input-phone, .input-course, .input-essay, 
.input-strength, .input-weakness, .input-comments, .input-course-goals, .input-reason{
  font-size: 18px;
  color: black;
  padding-top: 8px;
  padding-bottom: 5px;
}

.signup-button{
  color: white;
  background: black;
  position: relative;
  left: 10px;
  top: 15px;
  
}

.signup-button:active{
  background: red;
}

.ao-reg-button{
  position: relative;
  top: 12px;
}
 

.ao-reg-button:active{
  color: red;
}

.iq-submit{
  position: relative;
  top: 12px;
  left: 32px;
}

.iq-submit:active{
  color: red;
}

.aoq-submit{
  position: relative;
  top: 20px;
  left: 17px;
}

.aoq-submit:active{
  color: red;
}

.text-muted{
  color: rgba(240, 72, 72, 0.75);
  font-weight: bold;
}

div.item.active{
  background: white;
}

.row > .col-lg-4 > p{
  color: white;
}

.featurette-heading{
  color: black;
}


.center-block-1, .center-block-3{
  height: 500px;
}

.center-block-2{
   height: 150px;
  width: 800px;
  position: relative;
  top: 80px;

}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.header-logo-bar > .admissions-logo{
  width: 100%;
  height: 150px;
}


.header-logo-bar > .admissions-logo > img{
  position: absolute;
  top: 0;
  height: auto;
}
/*NYC Skyline image taken from http://blogs.oregonstate.edu/
     singorangeny2013/files/2013/04/BigAppleGraphic2.jpg */

.navbar-wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-nav a{
  font-size: 18px;
}


img.img-circle-instructor, img.img-circle-officer, img.img-circle-student  
{border-radius: 50%; padding-top: 8px;}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

/*div.carousel-inner {
  background-image: url('/class_photo.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat
}*/

.carousel-inner > .item > img { /*This code block here is already talking to*/
  position: absolute;           /*the image we want to access. Made some changes*/
  bottom: 0;
  left: 0;
  width: 100%;
  height: 475px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}


.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
