<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
<h1>You may create a new Admin questionnaire below.</h1>
<!--Look in admin/index.erb and _form.erb in admin/posts in the d52 react rails folder. Is this how the form should be? Bring it up to team. -->

	
</body>
</html>

