<h1>List of General Assembly Instructors</h1>

<% @instructors.each do |i| %>
  <h2><%= link_to i.name, instructor_path(i.id) %></h2>
  <h3><%= i.course %></h3>
  <h3><%= mail_to i.email %></h3>
<% end %>