<h1>Welcome Instructor! Select a student for an in-person interview!</h1>

<% @students.each do |student| %>
	<h2><%= link_to student.name, student_path(student.id) %></h2>
	<h3><%= mail_to student.email %></h3>
	------------------------------------------------------------
<% end %>	