<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>Login</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}


  </style>

</head>
<body>

<h1> Existing Student<span class="text-muted"> / Login</span></h1>

<div id = 'loginform'>
	<form method="post" action="/students/login">
		<label for "email" class="input-email"> Enter Your E-mail Address: </label> <br>
			<input type = 'text' name = 'email'> <br>
		<label for 'password' name = 'password' class="input-password"> Enter your password: </p>
			<input type = 'password' name = 'password'> <br>
			<input type = 'hidden' name = 'authenticity_token' value = '<%=form_authenticity_token() %>' size = '65'> <br>
	<button type = 'Log In' class="login-button"> Log In </button>
	</form>
</div>	
</body>
</html>
