<h1> New Student</h1>

Below is some stuff I was writing. I think it's wrong, so let's go with the above stuff.


<div id = 'loginform'>
	<form method = 'POST' action = '/create'>
	<label for "name"> Please enter your name </label> <br>
	<input type = 'text' name = 'name'> <br> <br>
	<label for "email"> Enter your e-mail address </label> <br>
	<input type = 'text' name = 'email'> <br> <br>
	<label type ='password' name = 'password' > Select a password </label> <br>
	<input type = 'password_digest' name = 'password'> <br>
	<input type = 'hidden' name = 'authenticity_token' value = '<%=form_authenticity_token() %>' size = '65'> <br>
	<label for 'course' name = 'course'> What course are you applying to? </label> <br>
	<select>
  <option value="WDI">Web Development Immersive</option>
  <option value="PMI">Product Management Immersive</option>
  <option value="UXDI">User Experience Development Immersive</option>
</select> <br> <br>
<label type = 'application_essay' name = 'application_essay'> Why do you feel that you belong at General Assembly? </label> <br>
<textarea placeholder = "Write your response here"> </textarea> <br>
	<button type = 'submit'> Submit Your Application! </button>
	</form>
</div>	


<!-- <form action = '/students' method = "post">

<label for="name">Full Name </label>
<input name="student[name]" placeholder="Your Name" id="name">

<label for = "email"> E-mail Address </label>
<input name = "student[email]" placeholder = "E-mail Address" id = "email">

<label for="password">Enter a new password </label>
<input name ="student[password]" placeholder = "Password" id = "password">

Please select the course you are applying for.
<select>
  <option value="WDI">Web Development Immersive</option>
  <option value="PMI">Product Management Immersive</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<input class="button-primary" type="submit" value="Submit">

</form>

:name, :email, :password, :course, :application_essay) -->