<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>Login</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}


p {
	font-size: 18px;
	font-weight: bold;
	color: black;
}




  </style>





</head>
<body>

 <div class="header-logo-bar">
       <img class="admissions-logo" src="/admissions_logo_bar.png">
    </div>

      <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GA Admissions Portal</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Admissions Officers</a></li>
                    <li><a href="#">Instructors</a></li>
                    <!-- <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="mailto:hello@generalassemb.ly">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>






<h1> New Student Application Form</h1>

<p> Are you interested in applying for an immersive program at General Assembly? Fill out this form to be added as a new applicant! </p>


<div id='registerform'>
	<form method='POST' action='/students/create'>
		<label for "name" class="input-name"> Please enter your name </label> <br>
			<input type='text' name='name'> <br> <br>
		<label for "email" class="input-email"> Enter your e-mail address </label> <br>
			<input type='text' name='email'> <br> <br>
		<label for "phone_number" class="input-phone"> Provide a phone number </label> <br>
			<input type='text' name='phone_number'> <br> <br>
		<label for 'password' name='password' class="input-password"> Select a password </label> <br>
			<input type='password' name='password'> <br>
		<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token() %>' size = '65'> <br>
		<label for 'course' name='course' class="input-course"> What course are you applying to? </label> <br>
		<select name='course'>
  			<option value="WDI">Web Development Immersive</option>
  			<option value="PMI">Product Management Immersive</option>
 			<option value="UXDI">User Experience Development Immersive</option>
		</select> <br> <br>
		<label type='application_essay' name='application_essay' class="input-essay"> Why do you feel that you belong at General Assembly? </label> <br>
		<textarea name='application_essay' placeholder="Write your response here"> </textarea> <br>
    <input type='text' name='picture'> <br> <br>
    <label for 'picture' name='picture' class="input-picture"> Optional: Input a picture URL </label> <br>
	<button type='submit' class="signup-button"> Submit Your Application! </button>
	</form>
</div>	
  </body>
   </html>
