<h1> New Student</h1>

Below is some stuff I was writing. I think it's wrong, so let's go with the above stuff.

<!-- <form action = '/students' method = "post">

<label for="name">Full Name </label>
<input name="student[name]" placeholder="Your Name" id="name">

<label for = "email"> E-mail Address </label>
<input name = "student[email]" placeholder = "E-mail Address" id = "email">

<label for="password">Enter a new password </label>
<input name ="student[password]" placeholder = "Password" id = "password">

Please select the course you are applying for.
<select>
  <option value="WDI">Web Development Immersive</option>
  <option value="PMI">Product Management Immersive</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<input class="button-primary" type="submit" value="Submit">

</form>

:name, :email, :password, :course, :application_essay) -->