<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>New Student</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}

p {
	font-size: 18px;
	font-weight: bold;
	color: black;
}
  </style>
  </head>
  <body>

<h1> New Student Application Form</h1>

<p> Are you interested in applying for an immersive program at General Assembly? Fill out this form to be added as a new applicant! </p>


<div id='registerform'>
	<form method='POST' action='/students/create'>
		<label for "name" class="input-name"> Please enter your name </label> <br>
			<input type='text' name='name'> <br> <br>
		<label for "email" class="input-email"> Enter your e-mail address </label> <br>
			<input type='text' name='email'> <br> <br>
		<label for "phone_number" class="input-phone"> Provide a phone number </label> <br>
			<input type='text' name='phone_number'> <br> <br>
		<label for 'password' name='password' class="input-password"> Select a password </label> <br>
			<input type='password' name='password'> <br>
		<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token() %>' size = '65'> <br>
		<label for 'course' name='course' class="input-course"> What course are you applying to? </label> <br>
		<select name='course'>
  			<option value="WDI">Web Development Immersive</option>
  			<option value="PMI">Product Management Immersive</option>
 			<option value="UXDI">User Experience Development Immersive</option>
		</select> <br> <br>
		<label type='application_essay' name='application_essay' class="input-essay"> Why do you feel that you belong at General Assembly? </label> <br>
		<textarea name='application_essay' placeholder="Write your response here"> </textarea> <br>
    <label for 'picture' name='picture' class="input-picture"> Optional: Input a picture URL </label> <br>
    <input type='text' name='picture'> <br> <br>
	<button type='submit' class="signup-button"> Submit Your Application! </button>
	</form>
</div>	
  </body>
   </html>
