<h1>YO SHIT WORKS!!!</h1>

<h1><%#= link_to login_path "SHOW PAGE" admissions_officer_path %></h1>

<!-- Uncomment when we seed data
Commented on 2/10/16 -->

<!-- <h1>Students</h1>

<% #@students.each #do |s| %>
	<h2>Student: <%#= link_to s.name, students_path(s.id) %></h2>
	<% #end %>

	<h2><%#= link_to "Add New Applicant", new_student_path %></h2>
 -->