<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>Login</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}

h2{
	color: black;
}

a{
	font-size: 30px;
	position: relative;
	left: 20px;
}

p {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.user-greeting > li {
  color: white;
}








  </style>

</head>
<body>
<% if session['user_id'] %>
<p> test </p>
<% else %>
<p> Log In? </p>
<% end %>

 <div class="header-logo-bar">
       <img class="admissions-logo" src="/admissions_logo_bar.png">
    </div>

      <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">GA Admissions Portal</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                <% if session['user_id'] %>
                    <a href="/logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log Out <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Admissions Officers</a></li>
                    <li><a href="#">Instructors</a></li>
                    <% else %>
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In<span class="caret"></span></a>
                    <% end %>
                    <!-- <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="mailto:hello@generalassemb.ly">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

<% if session['user_id'] %>
<p> You are currently logged in. </p>
<% end %>


    

    <%= yield %>
   
    </body>
      </html>