<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>Admissions Officers</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}

h2{
	color: black;
}

a{
	font-size: 30px;
	position: relative;
	left: 20px;
}


p {
	font-size: 18px;
	font-weight: bold;
	color: black;
}








  </style>

</head>
<body>

<h1>Admissions Officers</h1>

<% @admin_officers.each do |a| %>
	<h2><%= link_to a.name, admission_officer_path(a.id) %></h2>
	<h2>Contact: <%= a.email %></h2>

-------------------------------------

	<% end %>

	<h3><%= link_to "Add a new Admissions Officer", new_admission_officer_path %></h3>

