<div id="flash">
<%= flash[:success] %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 1200);
 })
</script>
<!-- <h1><%#= link_to "Login", admission_officers_login_form_path %></h1>
 -->
<h1>Admissions Officers</h1>

<% @admin_officers.each do |a| %>
	<h2>Admissions Officer Name: <%= link_to a.name, admission_officer_path(a.id) %></h2>
	<h2>Contact: <%= a.email %></h2>

-------------------------------------

	<% end %>

	<h3><%= link_to "Add a new Admissions Officer", new_admission_officer_path %></h3>

