<h1>Admissions Officer Profile</h1>

<h1><%= link_to "Login", admission_officers_login_form_path %></h1>

<h1>Admission Officers</h1>

<% @admin_officers.each do |a| %>
	<h2>Admission Officer: <%= link_to a.name, admission_officer_path(a.id) %></h2>
	<% end %>

	<h3><%= link_to "New Admissions Officer", new_admission_officer_path %></h3>
