<h1>Login Page</h1>

<% if @error %>
<h3>Incorrect Email/PW</h3>
<% end %>

<div id ='loginform'>
	<form method="POST" action="/admission_officers/login">
		<label for "email"> Enter Your E-mail Address </label> <br>
			<input type ='text' name ='email'> <br>
		<label for 'password' name ='password'> Enter your password </p>
			<input type ='password' name ='password'> <br>
			<input type ='hidden' name ='authenticity_token' value = '<%=form_authenticity_token() %>' size = '65'> <br>
	<button type = 'Log In'> Log In </button>
	</form>
</div>	
