<h1>New Admissions Officer Form</h1>
<!-- Get this to work for adding new admission officers -->
<div id='newadmission'>
	<form method='POST' action='/create'>
		<label for 'name'>Name </label> <br>
			<input type='text' name='name'> <br> <br>
		<label for 'email'>Email</label> <br>
			<input type='text' name='email'> <br> <br>
		<label for 'password' name='password'>Password </label> <br>
			<input type='password' name='password'> <br>
		<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token() %>' size = '65'> <br>
		<!-- Retype password Section?
		<label for 'password' name='password'>Password </label> <br>
			<input type='password' name='password'> <br>
		<input type='hidden' name='authenticity_token' value='<%=form_authenticity_token() %>' size = '65'> <br>
		 -->
<button type='submit'>Submit New Admissions Officer</button>


<%#= form_for @admin_officer, url: new_admission_officers_path do |form| %>
	<!-- <%#= form.label :name %><br /> -->
	<!-- <%#= form.text_field :name %><br /> -->

	<!-- <%#= form.label :email %><br /> -->
	<!-- <%#= form.text_field :email %><br /> -->

	<!-- <%#= form.label :password %><br /> -->
	<!-- <%#= form.text_field :password %><br /> -->

	<%#= form.submit "Submit New Admissions Officer" %>
	<%# end %>



